@import "bootstrap.min.css"
@import "font-awesome.min.css"
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
.header
    position relative
    &-contenedor
        position absolute
        top 35%
        left 6.224%
        &_fila
            &_columna
                color white
                text-align center
                &_titulo
                    text-transform uppercase
                    // font-weight 700
                    font-size 3.5em
                    letter-spacing 2px
                    margin-bottom 25px
                &_descripcion
                    font-size 1.5em
                    letter-spacing 1px
                &_link
                    display block
                    text-decoration none !important
                    color white !important
                    text-transform uppercase
                    font-weight bold
                    padding 10px
                    border-radius 10px
                    border 1px solid white
                    width 190px
                    margin-left auto
                    margin-right auto
                    margin-top 30px
                    transition .5s
                    &:hover
                        color #125599 !important
                        background white
                        transition .5s ease

.navbar
	background #125599
	border-radius 0
	margin-bottom 0
	// height 51px
	position absolute
	left 0
	z-index 3
	width 100%
	&-collapse
		background #125599
	.container
		.navbar-header
			.navbar-toggle
				.icon-bar
					background-color #fff
			.navbar-brand
				display none
		.navbar-collapse
			.nav
				text-align center
				float none
				li
					float none
					display inline-block
					a
						color #fff
						transition 0.5s
					a:hover,
					a:focus
						background-color #00478a
						transition .5s
					
.fixed
	position fixed
	top 0 !important
.me
    background-color #125599
    .container
        padding-top 51px
        padding-bottom 100px
        .row
            margin-top 30px
            text-align center
            .col-md-6
                // border 1px solid
                figure
                    width 50%
                    margin-right auto
                    margin-left auto
                    img
                        width 100%
                        border-radius 50%
                h1
                    color white
                p
                    color black
                    font-size 1.7em
                    margin-bottom 40px
                a
                    border 1px solid white
                    border-radius 5px
                    padding 20px 50px
                    // margin-top 30px
                    // display block
                    box-sizing border-box
                    transition .5s
                    font-weight bold
                    color white
                a:hover
                    background-color white
                    transition .5s
                    color #125599
                    text-decoration none
.about
    padding-top 30px
    padding-bottom 30px
    &-contenedor
        // margin-top 30px
        // margin-bottom 30px
        &_fila
            &_linea
                border-bottom 1px solid #125599
            &_titulo,
            &_parrafo
                text-align center
            &_titulo
                color #125599
                font-weight 500
            &_iconCont
                text-align center
                padding 0
                a
                    display block
                    text-decoration none
                    padding-top 30px
                    padding-bottom 30px
                    font-size 50px
                    transition .5s
                    cursor pointer
                    span
                        display block
                        font-size 25px
                        margin-top 20px
                        font-family Helvetica
                        color black
                a:hover
                    background-color #125599
                    transition .5s
                    color white !important
                    font-size 60px
                    span
                        color white   
// .wrapper
// 	height 400px
// 	text-align center
// 	padding 150 0 0 0
section
	padding-top 52px !important
				