@import "bootstrap.min.css";
@import "font-awesome.min.css";
.full-screen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.header {
  position: relative;
}
.header-contenedor {
  position: absolute;
  top: 35%;
  left: 6.224%;
}
.header-contenedor_fila_columna {
  color: #fff;
  text-align: center;
}
.header-contenedor_fila_columna_titulo {
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.header-contenedor_fila_columna_descripcion {
  font-size: 1.5em;
  letter-spacing: 1px;
}
.header-contenedor_fila_columna_link {
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.header-contenedor_fila_columna_link:hover {
  color: #125599 !important;
  background: #fff;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar {
  background: #125599;
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.navbar-collapse {
  background: #125599;
}
.navbar .container .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar .container .navbar-header .navbar-brand {
  display: none;
}
.navbar .container .navbar-collapse .nav {
  text-align: center;
  float: none;
}
.navbar .container .navbar-collapse .nav li {
  float: none;
  display: inline-block;
}
.navbar .container .navbar-collapse .nav li a {
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container .navbar-collapse .nav li a:hover,
.navbar .container .navbar-collapse .nav li a:focus {
  background-color: #00478a;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.fixed {
  position: fixed;
  top: 0 !important;
}
.me {
  background-color: #125599;
}
.me .container {
  padding-bottom: 100px;
}
.me .container .row {
  margin-top: 30px;
  text-align: center;
}
.me .container .row .col-md-6 figure {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.me .container .row .col-md-6 figure img {
  width: 100%;
  border-radius: 50%;
}
.me .container .row .col-md-6 h1 {
  color: #fff;
}
.me .container .row .col-md-6 p {
  color: #000;
  font-size: 1.7em;
  margin-bottom: 40px;
}
.me .container .row .col-md-6 a {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  color: #fff;
}
.me .container .row .col-md-6 a:hover {
  background-color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #125599;
  text-decoration: none;
}
.about {
  padding-bottom: 30px;
}
.about-contenedor_fila_linea {
  border-bottom: 1px solid #125599;
}
.about-contenedor_fila_titulo,
.about-contenedor_fila_parrafo {
  text-align: center;
}
.about-contenedor_fila_titulo {
  color: #125599;
  font-weight: 500;
}
.about-contenedor_fila_iconCont {
  text-align: center;
  padding: 0;
}
.about-contenedor_fila_iconCont a {
  display: block;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.about-contenedor_fila_iconCont a span {
  display: block;
  font-size: 25px;
  margin-top: 20px;
  font-family: Helvetica;
  color: #000;
}
.about-contenedor_fila_iconCont a:hover {
  background-color: #125599;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #fff !important;
  font-size: 60px;
}
.about-contenedor_fila_iconCont a:hover span {
  color: #fff;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 152px;
  z-index: 2;
  margin-left: 42%;
  font-size: 35px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 0.8em;
}
.skills {
  background-color: #125599;
  padding-bottom: 40px;
  font-family: 'Lato', sans-serif;
}
.skills-contenedor_cabecera {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}
.skills-contenedor_slides {
  color: #000;
}
.skills-contenedor_slides .owl-item .habilidad {
  margin: 0 13% 20px auto;
  float: none;
  text-align: center;
}
.skills-contenedor_slides .owl-item .habilidad h4 {
  margin-left: 16%;
  font-weight: 700;
  text-align: center;
}
.experiencia-contenedor {
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}
.experiencia-contenedor_division {
  width: 100px;
  height: 1px;
  background: #125599;
  margin: 0 auto;
}
.experiencia-contenedor_encabezado {
  text-align: center;
  padding-bottom: 40px;
}
.experiencia-contenedor_encabezado h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #125599;
}
.experiencia-contenedor_fila_timeline {
  float: left;
  width: 100%;
  padding: 50px 0 42px 0;
  background: url("../img/timelinebg.png") center top repeat-y;
}
.experiencia-contenedor_fila_timeline ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
}
.experiencia-contenedor_fila_timeline ul li {
  float: left;
  width: 50%;
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.experiencia-contenedor_fila_timeline ul li .point {
  width: 57px;
  height: 57px;
  background: url("../img/timeline-item.png");
  position: absolute;
  right: -29.5px;
  top: 4px;
}
.experiencia-contenedor_fila_timeline ul li .bubble {
  float: right;
  width: 64.4%;
  margin: 0 30px 0 0;
  padding: 22px 32px 25px 30px;
  background: #363b3f;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.1);
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}
.experiencia-contenedor_fila_timeline ul li .bubble-arrow {
  width: 16px;
  height: 25px;
  background: url("../img/bubbles-arrow.png") left top no-repeat;
  position: absolute;
  top: 20px;
  right: -10px;
}
.experiencia-contenedor_fila_timeline ul li .bubble p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;
  margin: 0;
  text-align: left;
  margin: 0 0 15px 0;
}
.experiencia-contenedor_fila_timeline ul li .bubble .name {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.experiencia-contenedor_fila_timeline ul li .bubble .title {
  font-size: 14px;
  margin: 0;
}
.experiencia-contenedor_fila_timeline ul li .bubble:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.experiencia-contenedor_fila_timeline ul li:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.experiencia-contenedor_fila_timeline ul li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.experiencia-contenedor_fila_timeline ul li:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.experiencia-contenedor_fila_timeline ul li:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.experiencia-contenedor_fila_timeline ul .animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.experiencia-contenedor_fila_timeline ul .odd {
  margin: 80px 0 0 0;
  float: left;
}
.experiencia-contenedor_fila_timeline ul .odd .bubble {
  margin: 0 0 0 30px;
  float: left;
}
.experiencia-contenedor_fila_timeline ul .odd .bubble-arrow {
  left: -10px;
  right: auto;
  background-position: right top;
}
.experiencia-contenedor_fila_timeline ul .odd .bubble .date,
.experiencia-contenedor_fila_timeline ul .odd .bubble .time {
  text-align: left;
}
.experiencia-contenedor_fila_timeline ul .odd .point {
  left: -27px;
}
.experiencia-contenedor_fila_timeline ul .fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.contacto {
  padding: 30px 0 50px 0;
  background-color: #f9f9f9;
}
.contacto-contenedor_division {
  width: 100px;
  height: 1px;
  background: #125599;
  margin: 0 auto;
}
.contacto-contenedor_encabezado {
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Lato', sans-serif;
  color: #125599;
}
.contacto-contenedor_formulario {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.contacto-contenedor_formulario .centro {
  margin: 0 auto;
  float: none;
}
.contacto-contenedor_formulario .centro .formularioContacto .alert-danger {
  background-color: #d9edf7;
}
.contacto-contenedor_formulario .centro .formularioContacto label {
  display: none;
}
.contacto-contenedor_formulario .centro .formularioContacto input {
  max-width: 48.5%;
}
.contacto-contenedor_formulario .centro .formularioContacto .no-margin {
  margin-right: 0;
}
.contacto-contenedor_formulario .centro .formularioContacto input,
.contacto-contenedor_formulario .centro .formularioContacto textarea {
  border: 1px solid #b6b7b7;
  color: #363b3f;
  background: none;
  padding: 15px 30px;
  margin: 0 3% 20px 0;
  resize: none !important;
  -webkit-appereance: none;
  display: block;
}
.contacto-contenedor_formulario .centro .formularioContacto p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.contacto-contenedor_formulario .centro .formularioContacto p button {
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  text-transform: uppercase;
  background: #125599;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #125599;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.contacto-contenedor_formulario .centro .formularioContacto p button:hover {
  color: #125599 !important;
  background: #fff;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.footer {
  padding: 30px 0 50px 0;
  margin: 0;
  background: #363b3f;
}
.footer-contenedor p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.footer-contenedor_lista {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
.footer-contenedor_lista_items {
  display: inline-block;
  margin: 0 4px;
}
.footer-contenedor_lista_items a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 18px;
  -webkit-transition: all 0.3s ease-in, 1s;
  -moz-transition: all 0.3s ease-in, 1s;
  -o-transition: all 0.3s ease-in, 1s;
  -ms-transition: all 0.3s ease-in, 1s;
  transition: all 0.3s ease-in, 1s;
  font-size: 3.5rem;
  color: #4265b9;
  border-radius: 3px;
}
.footer-contenedor_lista_items .facebook-square {
  background: url("../img/facebook.png") center no-repeat #444749;
}
.footer-contenedor_lista_items .facebook-square:hover {
  background-color: #4265b9;
}
.footer-contenedor_lista_items .twitter-square {
  background: url("../img/twitter.png") center no-repeat #444749;
}
.footer-contenedor_lista_items .twitter-square:hover {
  background-color: #9ae4e8;
}
.footer-contenedor_lista_items .google-plus-square {
  background: url("../img/google.png") center no-repeat #444749;
}
.footer-contenedor_lista_items .google-plus-square:hover {
  background-color: #d62408;
}
.footer-contenedor_lista_items .linkedin-square {
  background: url("../img/linkedin.png") center no-repeat #444749;
}
.footer-contenedor_lista_items .linkedin-square:hover {
  background-color: #0073b2;
}
.footer-contenedor_lista_items .youtube-square {
  background: url("../img/youtube.png") center no-repeat #444749;
}
.footer-contenedor_lista_items .youtube-square:hover {
  background-color: #df3333;
}
/* CSS INVALID INPUTS*/
.invalid input:required:invalid {
  background: rgba(169,68,66,0.11);
}
.invalid textarea:required:invalid {
  background: #125599;
}
.invalid input:required:valid {
  background: #fff;
}
.invalid textarea:required:valid {
  background: #fff;
}
section {
  padding-top: 52px !important;
}
@media screen and (max-width: 990px) {
  .header-contenedor {
    top: 25%;
  }
}
@media screen and (max-width: 768px) {
  .navbar .container .navbar-header .navbar-brand {
    display: block;
    color: #fff;
  }
  .navbar .container .navbar-collapse .nav li {
    display: block;
  }
  .experiencia-contenedor_fila {
    width: 100%;
  }
  .experiencia-contenedor_fila_timeline {
    background-position: 60px top;
  }
  .experiencia-contenedor_fila_timeline ul li .point {
    left: 34px;
    right: auto;
  }
  .experiencia-contenedor_fila_timeline ul .odd {
    margin-left: 40px;
  }
  .experiencia-contenedor_fila_timeline ul .odd .point {
    left: 34px;
    right: auto;
  }
  .experiencia-contenedor_fila_timeline ul li,
  .experiencia-contenedor_fila_timeline ul .odd {
    margin: 0 0 20px 0;
    width: 80%;
    opacity: 1 !important;
    -ms-filter: none !important;
    filter: none !important;
  }
  .experiencia-contenedor_fila_timeline ul li .bubble,
  .experiencia-contenedor_fila_timeline ul .odd .bubble {
    margin-left: 30px;
    width: 80%;
    padding: 22px 30px 25px 32px;
  }
  .experiencia-contenedor_fila_timeline ul li .bubble-arrow,
  .experiencia-contenedor_fila_timeline ul .odd .bubble-arrow {
    background-position: right top;
    left: -10px;
    right: auto;
  }
  .experiencia-contenedor_fila_timeline ul li .bubble {
    margin-left: 89px;
  }
  .experiencia-contenedor_fila_timeline ul li .bubble,
  .experiencia-contenedor_fila_timeline ul .odd .bubble {
    margin-left: 89px;
  }
  .experiencia-contenedor_fila_timeline ul li .point,
  .experiencia-contenedor_fila_timeline ul .odd .point {
    right: auto;
  }
  .experiencia-contenedor_fila_timeline ul li .bubble {
    float: left;
  }
}
@media screen and (max-width: 640px) {
  .header-contenedor_fila_columna_titulo {
    font-size: 3em;
  }
  .me .container .row {
    margin-top: 0;
  }
  .me .container .row .col-md-6 h1 {
    font-size: 2.5em;
  }
  .skills {
    padding-top: 20px !important;
    padding-bottom: 80px;
  }
  .skills-contenedor_cabecera {
    padding-bottom: 0;
  }
  .skills-contenedor_cabecera h2 {
    margin-bottom: 0;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
