@import "bootstrap.min.css";
@import "font-awesome.min.css";
.full-screen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.header {
  position: relative;
}
.header-contenedor {
  position: absolute;
  top: 35%;
  left: 6.224%;
}
.header-contenedor_fila_columna {
  color: #fff;
  text-align: center;
}
.header-contenedor_fila_columna_titulo {
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.header-contenedor_fila_columna_descripcion {
  font-size: 1.5em;
  letter-spacing: 1px;
}
.header-contenedor_fila_columna_link {
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.header-contenedor_fila_columna_link:hover {
  color: #125599 !important;
  background: #fff;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.navbar {
  background: #125599;
  border-radius: 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  z-index: 3;
  width: 100%;
}
.navbar-collapse {
  background: #125599;
}
.navbar .container .navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar .container .navbar-header .navbar-brand {
  display: none;
}
.navbar .container .navbar-collapse .nav {
  text-align: center;
  float: none;
}
.navbar .container .navbar-collapse .nav li {
  float: none;
  display: inline-block;
}
.navbar .container .navbar-collapse .nav li a {
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.navbar .container .navbar-collapse .nav li a:hover,
.navbar .container .navbar-collapse .nav li a:focus {
  background-color: #00478a;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.fixed {
  position: fixed;
  top: 0 !important;
}
.me {
  background-color: #125599;
}
.me .container {
  padding-bottom: 100px;
}
.me .container .row {
  margin-top: 30px;
  text-align: center;
}
.me .container .row .col-md-6 figure {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.me .container .row .col-md-6 figure img {
  width: 100%;
  border-radius: 50%;
}
.me .container .row .col-md-6 h1 {
  color: #fff;
}
.me .container .row .col-md-6 p {
  color: #000;
  font-size: 1.7em;
  margin-bottom: 40px;
}
.me .container .row .col-md-6 a {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  color: #fff;
}
.me .container .row .col-md-6 a:hover {
  background-color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #125599;
  text-decoration: none;
}
.about {
  padding-bottom: 30px;
}
.about-contenedor_fila_linea {
  border-bottom: 1px solid #125599;
}
.about-contenedor_fila_titulo,
.about-contenedor_fila_parrafo {
  text-align: center;
}
.about-contenedor_fila_titulo {
  color: #125599;
  font-weight: 500;
}
.about-contenedor_fila_iconCont {
  text-align: center;
  padding: 0;
}
.about-contenedor_fila_iconCont a {
  display: block;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.about-contenedor_fila_iconCont a span {
  display: block;
  font-size: 25px;
  margin-top: 20px;
  font-family: Helvetica;
  color: #000;
}
.about-contenedor_fila_iconCont a:hover {
  background-color: #125599;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #fff !important;
  font-size: 60px;
}
.about-contenedor_fila_iconCont a:hover span {
  color: #fff;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 152px;
  z-index: 2;
  margin-left: 42%;
  font-size: 35px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 0.8em;
}
.skills {
  background-color: #125599;
  padding-bottom: 40px;
  font-family: 'Lato', sans-serif;
}
.skills-contenedor_cabecera {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}
.skills-contenedor_slides {
  color: #000;
}
.skills-contenedor_slides .owl-item .habilidad {
  margin: 0 13% 20px auto;
  float: none;
  text-align: center;
}
.skills-contenedor_slides .owl-item .habilidad h4 {
  margin-left: 16%;
  font-weight: 700;
  text-align: center;
}
section {
  padding-top: 52px !important;
}
@media screen and (max-width: 990px) {
  .header-contenedor {
    top: 25%;
  }
}
@media screen and (max-width: 768px) {
  .navbar .container .navbar-header .navbar-brand {
    display: block;
    color: #fff;
  }
  .navbar .container .navbar-collapse .nav li {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .header-contenedor_fila_columna_titulo {
    font-size: 3em;
  }
  .me .container .row {
    margin-top: 0;
  }
  .me .container .row .col-md-6 h1 {
    font-size: 2.5em;
  }
  .skills {
    padding-top: 20px !important;
    padding-bottom: 80px;
  }
  .skills-contenedor_cabecera {
    padding-bottom: 0;
  }
  .skills-contenedor_cabecera h2 {
    margin-bottom: 0;
  }
}
